*{
	margin: 0;
	padding: 0;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}

body{


}
h1{
	font-size: 8vw;
	text-align: center;
}
h3{
	font-size: 3vw;
}
.row--main{
	height: 100vh;

}
.col--left{
	height: 100%;
	
	background: url("../img/Main left.jpg") no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
.col--left:after{
	margin-left: -15px;
  	content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.col--left:hover:after{
	padding: 0;
    display:none;
}

.col--left a{
	text-decoration: line-through;
}
.col--mainlogo{
	z-index: 10;
	margin: 25% 0 0 79%;
	position: absolute;
}
.col--mainlogo img{
	/*max-width: 100%;
	height: auto;*/
}

.col-look-red{
	background-color: rgba(76, 23, 31, 0.7);
	background-size: 100%;
	margin-top: 44%;
	/*border: white 2px;*/
}

.col--right{
	height: 100%;
	
	background: url("../img/Main right.jpg") no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.col--right:after{
	margin-left: -15px;
  	content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.col--right:hover:after{
	padding: 0;
    display:none;
}

.col--lookbook{
	z-index: 10;
	margin: 62.5% 0 0 15%;
	position: absolute;
	height: 34%;
	background: url("../img/lookbook.png") no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.col--about{
	z-index: 10;
	margin: 70.5% 0 0 46%;
	position: absolute;
	height: 34%;
	background: url("../img/about.png") no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.col--news{
	z-index: 10;
	margin: 64.5% 0 0 0;
	position: absolute;
	height: 34%;
	background: url("../img/news.png") no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.col--contacts{
	z-index: 10;
	margin: 52% 0 0 40%;
	position: absolute;
	height: 45%;
	background: url("../img/contacts.png") no-repeat;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}

.row--lookbook{
	height: 100vh;
	background: url("../img/background lookbook.png") no-repeat;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}

.row--news{
	height: 100vh;
	background: url("../img/background news.png") no-repeat;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}

.row--about{
	height: 100%;
	background: url("../img/background about.png") no-repeat;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}

.about-logo-style {
    width: 80px;
    margin-top: -15px;
}

#about-ella-carved-photo, #about-line-under-menu img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.about-line-ella-under-name {
    margin: -90px 0px 0px 0px;
}

.content-align-center {
    content: center;
}

/* Undecorate items MENU */
.navbar-custom {
    background-color: transparent;
    color: black;
    border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
    color: black;
}

.navbar-custom .navbar-nav > .active > a {
    color: black;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a {
    text-decoration: none;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: black;
}

.navbar-custom .navbar-toggle {
    background-color: black;
}

.navbar-custom .icon-bar {
    background-color: white;
}

/* Centered items MENU */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* DEBUG */
/*.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    border: 1px solid green;
}*/

/* Text style */

.about-title-text-style {
    font-family: 'HelveticaNeueCyr';
    font-size: 5vw;
   /* font-weight: bold;*/
    line-height: 0.7;
    color: black;
    text-align: left;
}

.about-content-text-style {
    font-family: 'Esenin Script One';
    font-size: 3vw;
    font-weight: bold;
    line-height: 1;
    color: black;
    text-align: left;
}

.about-ella-name-text-style {
    font-family: 'Esenin Script One';
    font-size: 5vw;
    font-weight: bold;
    color: black;
    text-align: right;
}

.about-footer-menu-text-style {
    font-family: 'HelveticaNeueCyr';
    font-size: 15px;
    color: black;
    text-align: center;
}