body{
	font-family: Arial;
}
.bg1{
	background: url("../img/background main.png") no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.bg2{
	background: url("../img/background main2.png") no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.container--spec{
	/*padding: 50px 80px 80px 120px;*/
	    padding-top: 50px;
    	margin: 0 89px;
}
#fond{
	color: white;
	font-size: 20px;
}
.lang{
	color: white;
}
.row--menu{
	margin-top: 3%;
	padding-left: 0;
	padding-right: 0;
	border: 2px solid #fef668;
}
.nav--border{
	display: table;
	width: 100%;
	-moz-box-shadow: -1px -18px 30px 0px #fef668;
    -webkit-box-shadow: -1px -18px 30px 0px #fef668;
     box-shadow: -1px -18px 30px 0px #fef668;
}
.nav--border>li{
	display: table-cell;
}
.menu-text{
	color: black;
	font-size: 16.39px;
	font-weight: bold;
}
.menu-dark{
	background-color: #99ccff;
}
.menu-white{
	background-color: #ccffff;
}
.menu-yellow{
	background-color: #fef668;
}
.row--wush{
	background: url("../img/bgnews1.png") no-repeat;
	background-size: cover;
	min-height: 1600px;
	border-radius: 0 0 20px 20px;
	border: 3px solid #fef668;
}
.row--cow{
	background: url("../img/bgcow.png") no-repeat;
	background-size: cover;
	min-height: 1600px;
	border-radius: 0 0 20px 20px;
	border: 3px solid #fef668;
}
.col--blue{
	background-color: #99ccff;
	border-radius: 20px;
	margin-left: 5%;
	margin-top: 3%;
}
.col--img1{
	margin-top: 1%;
}
.col--date{
	color: red;
	margin-bottom: 2%;
}
.marg{
	margin-left: 5%;
	margin-top: 3%;
}
.about-par{
	margin-top: 25px;
	font-size: 22px;
}
.row--pravo{
	background: url("../img/baza.png") no-repeat;
	background-size: cover;
	min-height: 900px;
	border-radius: 0 0 20px 20px;
	border: 3px solid #fef668;
}
.row--practic{
	background: url("../img/practices.png") no-repeat;
	background-size: cover;
	min-height: 1200px;
}
.fig{
	text-align: center;
}
.fig img{
	margin-top: 10%;
}
.row--bgcont{
	background: url("../img/bgcontacts.png") no-repeat;
	background-size: cover;
	min-height: 1200px;
}
.conts{
	background-color: white;

}
.bgred{
	background-color: red;
}