*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: Helvetica;
    src: url(../fonts/HelveticaNeue-Thin.otf);
}
@font-face {
    font-family: Esenin;
    src: url(../fonts/Esenin.ttf);
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}

body{
  /* font: 100%/1.5em Helvetica;
*/
}
.container--bg{
    background: url("../img/mainbg.png") no-repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}
h1{
    font-size: 6vw;
    text-align: center;
    font-family: Helvetica;
    font-weight: 700;
}
h2{
	font-size: 5vw;
	text-align: center;
    font-weight: bold;
}
.btnlook{
    padding: 82% 0 40% 0;
}
.btnabout{
    margin: 15% 0 0 -10%;
}
.aboutH{
    -webkit-text-fill-color: white; /* цвет текста для webkit */
    font-weight: normal;
    -webkit-text-stroke: 1px black;

}
.btnnews{
    margin: 50% 0 0 0;
}
.btnlook>a, .btncont>a, .btnabout>a, .btnnews>a{
    text-decoration: none;
    color: white;
}
.logo{
    margin: 15% 0 0 -10%;
    max-width: 20vw;
    height: auto;
}
.extraimg{
    max-width: 100%;
    height: 4vw;
}
h3{
	font-size: 3vw;
}
.col--mainlogo{
	z-index: 10;
	margin: 25% 0 0 79%;
	position: absolute;
}
/*.col--mainlogo img{
	max-width: 100%;
	height: auto;
}

.col-look-red{
	background-color: rgba(76, 23, 31, 0.7);
	background-size: 100%;
	margin-top: 44%;
	border: white 2px;
}*/
.redline{
    border: none;
    color: #883938;
    background-color: #883938;
    height: 1px;
    margin-top: 5px;
}


.col--lookbook{
	z-index: 10;
	margin: 62.5% 0 0 15%;
	position: absolute;
	height: 34%;
	background: url("../img/lookbook.png") no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
.o{
    height: 5vw;
    margin-top: -2%;
}
/*classes for slider*/
.slide{
    margin: 0 auto;
    height: 30vw;
}
/*.slick-active{
   -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
}
.slick-current{
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}*/


/*classes for slider END*/

.col--about{
	z-index: 10;
	margin: 70.5% 0 0 46%;
	position: absolute;
	height: 34%;
	background: url("../img/about.png") no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.col--news{
	z-index: 10;
	margin: 64.5% 0 0 0;
	position: absolute;
	height: 34%;
	background: url("../img/news.png") no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.col--contacts{
	z-index: 10;
	margin: 52% 0 0 40%;
	position: absolute;
	height: 45%;
	background: url("../img/contacts.png") no-repeat;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}
.about-logo-style {
    width: 5vw;
    margin-top: -15px;
}

#about-ella-carved-photo, #about-line-under-menu img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.about-line-ella-under-name {
    margin: 0px 0px 0px 0px;
}

.content-align-center {
    content: center;
}

/* Undecorate items MENU */
.navbar-custom {
    background-color: transparent;
    color: black;
    border-radius: 0;
    position: fixed;
    bottom: 4%;
    margin: 0 25%;
}

.navbar-custom .navbar-nav > li > a {
    color: black;
}

.navbar-custom .navbar-nav > .active > a {
    color: black;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a {
    text-decoration: none;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: black;
}

.navbar-custom .navbar-toggle {
    background-color: black;
}

.navbar-custom .icon-bar {
    background-color: white;
}

/* Centered items MENU */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* DEBUG */
/*.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    border: 1px solid green;
}*/

/* Text style */

.about-title-text-style {
    font-size: 5vw;
   /* font-weight: bold;*/
    line-height: 0.7;
    color: black;
    text-align: left;
}

.about-content-text-style {
    font-family: Esenin;
    font-weight: 600;
    font-size: 3vw;
    line-height: 1;
    color: black;
    text-align: left;
}

.about-ella-name-text-style {
    font-family: Esenin;
    font-weight: 600;
    font-size: 4vw;
    color: black;
    text-align: right;
}

.about-footer-menu-text-style {
    font-family: 'HelveticaNeueCyr';
    font-size: 15px;
    color: black;
    text-align: center;
}

.contacts-text{
	font-size: 1.5vw;
}

.col--contactscontainer{
	margin-top: 5%;
}
.col--contactscontainer2{
	margin-top: 60px;
}
.row--news{
    margin-top: 7%;
}
.col--contnews{
    background-color: #a8e3fa;
    overflow-y: scroll;
    max-height: 340px;
}
.news--cont{
    padding: 10px 10px 20px 10px;
}
.rag{
    background-color: #ffffff;
    margin: 4%;
    width: 196px;
    height: 300px;
}
.imgsnews{
    padding: 1px 1px;
}
.row--about{
    margin-top: 14%;
}
.row--contacts{
    margin-top: 12%;
}
.conststyle{
    color: #8c5264;
}
.row--useful{
    margin-top: 27%;
}
.useful{
    color: #9b7067;
}
.col--links{
    margin-top: 2%;
    padding-bottom: 7%;
}
.col--links>a{
    text-decoration: none;
    color: white;
}
.col--links>p{
    color: white;
}
.usefulline{
    border: none;
    color: black;
    background-color: black;
    height: 2px;
    margin-top: -1%;
}
.pointer{
    cursor: pointer;
}
.collectionImg{
    width: 80%;
    margin: 0 auto;
}
.col--collection{
    margin-top: 6%;
}
.news1{
    margin-top: 5%;
}
.ellaPhoto{
    width: 20vw;
}


@media only screen and (max-width: 1073px){
    .col--hide{
        display: none;
    }
    .content-align-center{
        display: none;
    }
    .redline{
        margin-top: 1vw;
    }
    .row--about{
        margin-top: 8%;
    }
    .row--contacts {
        margin-top: 8%;
}
}

@media only screen and (max-width: 900px){
    .rag{
        height: 250px;
    }
}
@media only screen and (max-width: 820px){
    .row--contacts {
        margin-top: 6%;
    }
    .imgsnews {
        width: 19vw;
        padding: 1%;
    }
    .rag {
        width: 23vw;
        height: auto;
    }
    .para{
        font-family: Helvetica;
        font-size: 2vw;
    }
}
@media only screen and (max-width: 700px){
    .row--contacts {
        margin-top: -1%;
    }
     .row--about{
        margin-top: 2%;
    }
}

@media only screen and (max-width: 600px){
    .row--news{
        margin-top: 2%;
    }
    .imgsnews {
        padding: 0;
    }
    .row--useful{
        margin-top: 10%;
    }    
}


@media only screen and (max-width: 440px){
    .redline{
        margin-top: -3vw;
    }
     .slide{
    height: 25vw;
    }
     .logo{
        margin: -3vw 0 0 -35%;
    }
     .btnabout{
        margin: -20% 0 0 -10%;
    }
    .row--useful{
        margin-top: 10%;
    }    
}


@media (max-width: 360px){
    .extraimg{
        height: 4vw;
    }
    .logo{
        margin: -3vw 0 0 -35%;
    }
    .btnnews{
      margin: 70% 0 0 0;  
    }
    .btnabout{
        margin: -20% 0 0 -10%;
    }
    .content-align-center{
        display: none;
    }
    .col--hide{
        display: none;
    }
    .redline{
        margin-top: -3vw;
    }
    .slide{
    height: 25vw;
    }
    .slick-list{
        margin-top: -5%;
    }
    .row--news {
    margin-top: 0%;
    }
    .rag{
       width: 27vw;
       height: auto; 
    }
    .row--useful{
        margin-top: 14vw;
    }    
}

@media (max-width: 280px){
    h2{
        font-size: 4vw;
    }
    .row--lookbook{
        margin-top: -5%;
    }
    .redline {
    margin-top: -4vw;
    }
    .row--lookbook{
        margin-top: -6vw;
    }
    .row--news{
        margin-top: -6vw;
    }
    .row--contacts{
        margin-top: -6vw;
    }
    .about-ella-name-text-style {
        margin-top: -3vw;
    }
    .row--useful{
        margin-top: 12vw;
    }        
}
.menu--hide{
    display: none;
}