<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="slick/slick.css">
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
</head>
<body>
	<div class="col-md-6 col-md-offset-3">
	<h1>L<img src="img/O.png" class="o">OKBOOK</h1>
</div>
<div class="col-md-6 col-md-offset-3">
	<div class="col-md-10 col-md-offset-2"><hr class="redline"></div>
	<div class="col-md-6 col-md-offset-4"><hr class="redline"></div>
</div>
<div class="col-md-12">
	<div class="slider">
	   	<div ng-click="showColl1()"><img src="img/slide1.png" alt="" class="slide"></div>
	    <div ng-click="showColl2()"><img src="img/slide2.png" alt="" class="slide"></div>
	    <div ng-click="showColl3()"><img src="img/slide3.png" alt="" class="slide"></div>
	 </div>
</div>

<script src="slick/slick.min.js"></script>
</body>
</html>