<div class="row row--serch" ng-repeat="d in data | filter:text">
	<!-- <div class="col-md-12">
		<input type="text" ng-model="text.name">
	</div> -->
	<div class="col-md-3">
		<div class="miniPost">
			<img src="{{d.imgSmall}}" alt="">
		</div>
	</div>
		<div class="col-md-9">	
			<h4>{{d.name}}</h4>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos optio magnam officiis corporis sit. Tenetur nisi vel, voluptates at odio, quidem et doloremque vitae, quasi voluptate corporis, beatae facere delectus.
			</p>
		</div>
		
	</div>
</div>