<div class="row">
	<div class="col-md-4">
		<h1>{{single.name}}</h1>
		<img src="{{single.imgSmall}}" class="img--single">
		<div class="rating">
		<button class="btn btn-primary btn--rating" ng-click="addLike()"><i class="fa fa-thumbs-o-up fa-lg"></i>{{single.likes}}</button>
		<button class="btn btn-primary btn--rating" ng-click="addDislike()"><i class="fa fa-thumbs-o-down fa-lg"></i>{{single.dislikes}}</button>
		</div>
	</div>
	<div class="col-md-8">
		<iframe width="640" height="360" ng-src="{{single.movie | youtubeEmbedUrl}}" frameborder="0" allowfullscreen class="kino"></iframe>
		{{single.type}}
	</div>
</div>